/*
Kuler color scheme:
https://color.adobe.com/28X-Dusty-Petrol-color-theme-119766/
#292929
#5B7876
#8F9E8B
#F2E6B6
#412A22

*/

html, body {
	height: 100%;
	background-color:#FAF5E1;
	font-family: "Raleway", sans-serif;
}

h1, h2, h3, h4 {
	font-family: "Raleway", sans-serif;
}

#wrap {
	min-height: 100%;
}

.footer {
	position: relative;
	margin-top: -60px; /* negative value of footer height */
	height: 60px;
	clear: both;
	padding-top: 20px;
	background-color: #000;
}

#content {
	overflow: auto;
	padding-bottom: 60px; /* this needs to be bigger than footer height*/
	background-color: #EEE0B8;
	margin-bottom: 20px;
	border-radius: 4px;
}

#sidebar {
	font-size: 16px;
}

.hasEvents {
	background: #c6bb9a;
	font-weight: bold;
	cursor: pointer;
}

.heading {
	border-bottom: 1px solid #c6bb9a;	
	margin-bottom: 30px;
}

.events, .events th {
	background: #fff;
	text-align: center;
	font-size: 17px;
}

.events tbody tr td {
	height: 75px;
	line-height: 75px;
}

#sidebar div[data-toggle="collapse"], p[data-toggle="collapse"] {
	cursor: pointer;
	background: #c6bb9a;
	padding: 3px 3px 3px 10px;
	margin-bottom: 3px;
	border-radius: 3px;
}

#sidebar div[data-toggle="collapse"] {
	font-weight: bold;
}

#sidebar ul {
	border: 1px solid #c6bb9a;
	border-radius: 3px;
}

#sidebar ul li {
	padding: 3px 3px 3px 15px;
	border-bottom: 1px solid #c6bb9a;
}

#sidebar ul li label {
	display: block;
	font-weight: normal;
}

.categories {
	margin-top: 20px;
}

#top-nav {
	margin-top: 30px;
}

header {
	 background: url("../img/532398_original_R_K_by_Anschi_pixelio.de_CUT.jpg") no-repeat bottom #000;
	 background-size: 100%;
	 min-height: 100px;
	 border-radius: 4px;
	 -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 5px rgba(0, 0, 0, .075);
	 box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 5px rgba(0, 0, 0, .075);
	 border: 1px solid #fff;
	 margin-top: 0px;
	 margin-bottom: 15px;
}

a[name] {
	color: inherit;
}

.modal {
	text-align: left;
}

.modal h2 {
	text-align: center;
}

/* for smaller resolutions: responsive tables, hidden header */

@media only screen and (max-width: 600px) {

.table-responsive table,
.table-responsive thead,
.table-responsive tbody,
.table-responsive th,
.table-responsive td,
.table-responsive tr {
	display: block;
}

.table-responsive thead tr {
	position: absolute;
	top: -9999px;
	left: -9999px;
}
 
.table-responsive td {
	border: none;
	border-bottom: 1px solid #eee;
	position: relative;
	white-space: normal;
}

.table-responsive td.empty {
	display: none;
}

.table-responsive tbody tr td {
	height: 55px;
	line-height: 55px;
}

header {
	/* or: min-height: 50px */
	display:none;
}

}